{% extends 'base.html' %}
{% block head %}
<!-- 로딩창 -->
<link rel="stylesheet" href="{{ url_for('static', filename='loading.css') }}">
<script src="{{ url_for('static', filename='loading.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <form name="pdf" method="post" enctype="multipart/form-data">
        <h1>PDF 파일을 등록해주세요.📝</h1>
        <p>회전 각도를 설정해주세요 📐</p>
        시계방향 &nbsp;&nbsp;:
        <button type="button" onclick="document.pdf.angle.value = '90';">90도</button>
        <button type="button" onclick="document.pdf.angle.value = '180';">180도</button>
        <button type="button" onclick="document.pdf.angle.value = '270';">270도</button>
        <br>반시계방향:
        <button type="button" onclick="document.pdf.angle.value = '-90';">90도</button>
        <button type="button" onclick="document.pdf.angle.value = '-180';">180도</button>
        <button type="button" onclick="document.pdf.angle.value = '-270';">270도</button>
        <br><br>
        <label for="angle">설정된 각도 (시계방향: + / 반시계방향: - )</label><br>
        <input type="text" id="angle" name="angle" readonly>
        <br><br>
        <input type="file" accept=".pdf" id="pdf_file" name="pdf_file"><br><br>
        <button type="submit" id="submit" disabled>변환</button>
        {% if msg %}
        <h3> {{ msg }} </h3>
        {% endif %}
    </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    var angle = document.getElementById('angle')
    var btn = document.getElementById('submit')
    var form = document.pdf;
    var file = form.pdf_file;
    file.onchange = function() {
        if (file.files.length > 0 && angle.value != "") {
            btn.removeAttribute('disabled')
        } else {
            btn.setAttribute('disabled', "")
        }
    }
    angle.oninput = function() {
        if (file.files.length > 0 && angle.value != "") {
            btn.removeAttribute('disabled')
        } else {
            btn.setAttribute('disabled', "")
        }
    }
</script>
{% endblock %}