{% extends 'base.html' %}
{% block content %}
<h1> {{ site[0] }} {{ site[1]}} {{ site[2] }} </h1>
<table class="table">
    <tbody>
    {% if info %}
        <tr class="text-center table-info">
            <th colspan="24" class="table-danger">
                {{ info.fcst['SKY'][0][0][:4] }}년<br>{{ info.fcst['SKY'][0][0][4:6] }}월 {{ info.fcst['SKY'][0][0][7:] }}일
            </th>
            <th colspan="24", class="table-primary">
                {{ info.fcst['SKY'][24][0][:4] }}년<br>{{ info.fcst['SKY'][24][0][4:6] }}월 {{ info.fcst['SKY'][24][0][7:] }}일
            </th>
            <th colspan="24">
                {{ info.fcst['SKY'][48][0][:4] }}년<br>{{ info.fcst['SKY'][48][0][4:6] }}월 {{ info.fcst['SKY'][48][0][7:] }}일
            </th>
        </tr>
        <tr class="text-center table-warning">
            {% for dt in info.fcst['SKY'] %}
            <th>
                {{ dt[1][:2] }}시
            </th>
            {% endfor %}
        </tr>
        <tr class="text-center">
            {% for sky in info.fcst['SKY'] %}
            <td>
                {% if sky[2] == '1' %}
                {% if sky[1][:2]|int >= 6 and sky[1][:2]|int < 18 %}
                <img src="{{ url_for('static', filename='sky/Clear.png') }}"><br>
                {% else %}
                <img src="{{ url_for('static', filename='sky/ClearNight.png') }}"><br>
                {% endif %}
                맑아부러
                {% elif sky[2] == '3' %}
                {% if sky[1][:2]|int >= 6 and sky[1][:2]|int < 18 %}
                <img src="{{ url_for('static', filename='sky/MostlyCloudy.png') }}"><br>
                {% else %}
                <img src="{{ url_for('static', filename='sky/MostlyCloudyNight.png') }}"><br>
                {% endif %}
                구름 솔찬히 많어
                {% else %}
                <img src="{{ url_for('static', filename='sky/Cloudy.png') }}"><br>
                흐리당께
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        <tr class="text-center table-dark">
            {% for tmp in info.fcst['TMP'] %}
            <td>🌡️ {{ tmp[2] }} °C</td>
            {% endfor %}
        </tr>
        <tr class="text-center table-danger">
            {% for rain in info.fcst['POP'] %}
            <td><img src="{{ url_for('static', filename='sky/rainy.png') }}" width="50%" height="50%"> {{ rain[2] }} % </td>
            {% endfor %}
        </tr>
    {% else %}
    <tr>
        <td colspan="3">날씨 정보가 없습니다.</td>
    </tr>
    {% endif %}
    </tbody>
</table>

<h3> 다른 곳의 날씨가 궁금한가요? </h3>

<form method="get">
    <label for="si">대분류 :</label>
    <select class="form-select" id="si" name="si">
        <option value="대전">대전</option>
    </select> &nbsp; &nbsp;
    
    <label for="gun">중분류 :</label>
    <select id="gun" name="gun">
        <option value="대전">대전</option>
    </select> &nbsp; &nbsp;

    <label for="dong">소분류 :</label>
    <select id="dong" name="dong">
        <option value="대전">대전</option>
    </select> &nbsp; &nbsp;

    <button class="btn btn-primary" type="submit" id="submit" disabled> 조회 </button>
</form>

{% endblock %}
{% block script %}
<script type='text/javascript' src="{{ url_for('static', filename='city_table.json')}}">

</script>
{% endblock %}